main{
    grid-column: 1/span 3;
    grid-row: 2/3;
    min-height: 80%;
    // background-image: linear-gradient(to right, rgba(249, 233, 97, 0.795), rgba(213, 208, 203, 0.944));
    display: flex;


    .aside1{
        width: 20%;
        background-image: linear-gradient(to right, rgba(249, 233, 97, 0.795), rgba(213, 208, 203, 0.944));
    }

    .pagemain{
        width: 60%;
        background-color:rgba(249, 238, 187, 0.94);
        display: flex;
        gap: 1.5rem;

        .textmain{
            flex-shrink: 1;
            padding-top: 5%;
            padding-left: 2%;

            h2{
                // padding-bottom: 3%;
                color: rgba(44, 28, 2, 70%);
                font-size: 15px;
            }

            p{
                padding-top: 3%;
                font-size: 15px;
                font-weight: 400;
            }
        }

        .img{
            flex-shrink: 0;
            max-width: 100%;
            object-fit: contain;
            padding-top: 10%;
            padding-right: 2%;

            @include mobile{
                display: none;
            }
        }
    }

    .aside2{
        width: 20%;
        background-image: linear-gradient(to left, rgba(249, 233, 97, 0.795), rgba(213, 208, 203, 0.944));
    }
}