footer {
    grid-column: 1/span 3;
    grid-row: 3/4;
    min-height: 5%;
    display: flex;
    // background-image: linear-gradient(to right, rgba(249, 233, 97, 0.795), rgba(213, 208, 203, 0.944));


    .aside1 {
        width: 20%;
        background-image: linear-gradient(to right, rgba(249, 233, 97, 0.795), rgba(213, 208, 203, 0.944));
    }

    .footermain{
        // width: 60%;
        width: 60%;
        min-height: 40px;
        background-color: rgba(44, 28, 2, 50%);
    }

    aside2 {
        width: 20%;
        background-image: linear-gradient(to left, rgba(249, 233, 97, 0.795), rgba(213, 208, 203, 0.944));        
    }    
}